.footer {
  width: 100%;
  font-size: 12px;
  margin-top: 20px;
}

.fLists {
  width: 90%;
  margin-bottom: 50px;
}

.fList {
  list-style: none;
  padding: 0;
}

.fListItem {
  margin-bottom: 10px;
  cursor: pointer;
}

.fListItem a {
  color: white;
}

.fText {
  text-align: center;
  color: white;
  padding-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .fLists {
    flex-direction: column;
  }


}